# @*************************************************************************@
# @ Software author: Robert Dayzen (robertdayzen)                           @
# @ Author_url 2: http://codecanyon.net/user/robertdayzen                   @
# @ Author E-mail: robertdayzen@gmail.com                                   @
# @*************************************************************************@
# @ Xclone - The Ultimate Modern PHP Social Media Sharing Platform           @
# @ Copyright (c) 2022 - 2023 Xclone. All rights reserved.                   @
# @*************************************************************************@


# Enable Rewrite Engine and set default charset to UTF-8
RewriteEngine On
# To force your site's link (HTTPS) to redirect, remove the (#) symbols at the beginning of the 3 rules below.
# RewriteCond %{HTTPS} off
# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
AddDefaultCharset utf-8

# Rewrite rules for clean URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /
RewriteRule ^welcome/?$ index.php [QSA]
RewriteRule ^welcome/login/?$ index.php?app=login [QSA]
RewriteRule ^welcome/signup/?$ index.php?app=register [QSA]
RewriteRule ^welcome/refresh_password/?$ index.php?app=refresh_password [QSA]
RewriteRule ^welcome/new_password/?$ index.php?app=new_password [QSA]
RewriteRule ^home/?$ index.php?app=home [QSA]
RewriteRule ^bookmarks/?$ index.php?app=bookmarks [QSA]
RewriteRule ^@(\w{3,15})/?$ index.php?app=profile&uname=$1 [QSA]
RewriteRule ^@(\w{3,15})/(\w+)/?$ index.php?app=profile&uname=$1&page=$2 [QSA]


RewriteRule ^([a-zA-Z0-9_]+)/following/([0-9]+)/?$ index.php?app=following&profuname=$1&username=$2 [QSA]
RewriteRule ^([a-zA-Z0-9_]+)/followers/([0-9]+)/?$ index.php?app=followers&profuname=$1&username=$2 [QSA]

RewriteRule ^settings/?$ index.php?app=settings [QSA]
RewriteRule ^settings/(\w{3,25})/?$ index.php?app=settings&sapp=$1 [QSA]
RewriteRule ^notifications/?$ index.php?app=notifications [QSA]
RewriteRule ^messages/?$ index.php?app=messages [QSA]
RewriteRule ^messages/([0-9]+)/?$ index.php?app=messages&row=$1 [QSA,L]
RewriteRule ^(\w{3,15})/status/(\d+)$ index.php?app=status&uname=$1&status_id=$2 [QSA,L]
RewriteRule ^(\w{3,15})/status/([0-9]+)/likes?$ index.php?app=likes&username=$1&tweet_id=$2 [QSA,L]
RewriteRule ^(\w{3,15})/status/([0-9]+)/repost?$ index.php?app=repost&username=$1&tweet_id=$2 [QSA,L]
RewriteRule ^search/?$ index.php?app=search [QSA]
RewriteRule ^explore/?$ index.php?app=explore [QSA]
RewriteRule ^connect_people/?$ index.php?app=connect_people [QSA]
RewriteRule ^pages/([a-zA-Z0-9_-]+)/?$ index.php?app=pages&page_title_seo=$1 [QSA]
RewriteRule ^logout/?$ apps/native/auth/logout.phtml [QSA]
RewriteRule ^404/?$ index.php?app=404 [QSA]
RewriteRule ^500/?$ index.php?app=404 [QSA]
RewriteRule ^language/(\w{2,25})/?$ index.php?lang=$1 [QSA]
RewriteRule ^business/(\w{3,25})/?$ index.php?app=business&sapp=$1 [QSA]



# Admin Panel Rules
RewriteRule ^admin_panel/?$ admin_panel/content.phtml [QSA]
RewriteRule ^admin_panel/(\w{1,5555})/?$ admin_panel/content.phtml?page=$1 [QSA]

# Xclone oAuth System
RewriteRule ^oauth/twitter/?$ apps/native/auth/oauth/twitteroauth.phtml [QSA]
RewriteRule ^oauth/twitter/callback/?$ apps/native/auth/oauth/twittercallback.phtml [QSA]

# Error Document Handling
ErrorDocument 404 /index.php?app=404
ErrorDocument 500 /index.php?app=404

# xclone Connect API
RewriteRule ^api/users/getuser/(\w+)$ apps/api/users/getuser.phtml?screen_name=$1 [L,QSA]
RewriteRule ^api/notifications/get-notifications/(\w+)$ apps/api/notifications/get-notifications.phtml?user_id=$1 [L,QSA]

# Disable directory listing
Options -Indexes

# Set PHP Handler for .phtml files
AddHandler application/x-httpd-php .phtml

# Set session max lifetime
php_value session.gc_maxlifetime 3231536000

# Compression Settings
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE image/x-icon
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/x-font
    AddOutputFilterByType DEFLATE application/x-font-truetype
    AddOutputFilterByType DEFLATE application/x-font-ttf
    AddOutputFilterByType DEFLATE application/x-font-otf
    AddOutputFilterByType DEFLATE application/x-font-opentype
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE font/ttf
    AddOutputFilterByType DEFLATE font/otf
    AddOutputFilterByType DEFLATE font/opentype
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

# Disable mod_security scan for POST requests
<IfModule mod_security.c>
    SecFilterEngine On
    SecFilterScanPOST Off
</IfModule>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
# Set Cache Expiry
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType text/x-javascript "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresDefault "access plus 190 days"
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "public"
  <FilesMatch "\.(php|phtml)$">
    Header set Cache-Control "max-age=7200"
  </FilesMatch>

  <FilesMatch "\.(jpg|jpeg|png|gif)$">
    Header set Cache-Control "max-age=31536000"
  </FilesMatch>

  <FilesMatch "\.(html|json|ttf|otf|woff)$">
    Header set Cache-Control "max-age=7200"
  </FilesMatch>
</IfModule>
